DATABASE_URL=postgresql://fairbet:fairbet_pass@db:5432/fairbet
REDIS_URL=redis://redis:6379/0
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=ingresa_un_secreto_seguro_aqui
ODDS_API_KEY=tu_api_key_aqui
ALLOWED_HOSTS=127.0.0.1,localhost
APISPERU_TOKEN=tu_token_jwt_de_apisperu_aqui
